/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #faefc1;
}

h1, h2, h3 {
  font-weight: bold;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #f4ba73;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 2.5rem;
}

nav ul {
  display: flex;
}

nav li:not(:last-child) {
  margin-right: 2rem;
}

video {
  min-width: 80%;
  max-width: 80%;
  height: auto;

  /* 下記は中央寄せ設定 */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Main Styles */
main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

section {
  margin-bottom: 4rem;
}

h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.project {
  margin-bottom: 4rem;
}

.project img {
  display: block;
  max-width: 100%;
  margin-bottom: 1rem;
}

.project h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.project p {
  margin-bottom: 1rem;
}

.project a {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
  border-radius: 0.25rem;
  transition: background-color 0.2s ease-in-out;
}

.project a:hover {
  background-color: #444;
}

/* Footer Styles */
footer {
  background-color: #fff;
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ccc;
}
